@font-face {
    font-family: digital-7;
    src: url("../font/digital-7.ttf");
}
#container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: beige;
}

.big-box {
    border: 1px solid black;
    width: 120px;
    font-size: 90px;
    text-align: center;
    font-family: digital-7;
}

.point {
    font-size: 70px;
}

.pointContainer {
    width: 20px;
}
